<% provide(:h1, "Dragonhoard List") %>
<% if current_user %>
   <p class="centerpagecontent"><%= playMusicLoop("Hoard", nil) %></p>
   <div class="pageformat">
      <% if current_user.userinfo.mute_on %>
         <p><%= button_to 'Unmute music', muteAudio_path(:pageType => "Hoard"), method: :post, class: "button submitbutton" %></p>
      <% else %>
         <p><%= button_to 'Mute music', muteAudio_path(:pageType => "Hoard"), method: :post, class: "button submitbutton" %></p>
      <% end %>
   </div>
<% end %>
<% if @dragonhoards.count >= 10 %>
   <div class="formlinks"><%= paginate @dragonhoards %></div>
   <br>
<% end %>
<% @dragonhoards.each do |dragonhoard| %>
   <div class="pageformat"><div class="container">Name: <%= dragonhoard.name %></div>
   <% if current_user && (current_user.pouch.privilege == "Admin" || current_user.pouch.privilege == "Glitchy") %>
      <div class="container"><%= button_to 'Edit', edit_dragonhoard_path(dragonhoard), method: :get, class: "button editbutton" %></div>
   <% end %>
   </div>
   <div class="pageformat">
      <p>Created on: <%= distance_of_time_in_words_to_now dragonhoard.created_on %> ago on (<%= dragonhoard.created_on.strftime("%B-%d-%Y") %>)</p>
      <% if dragonhoard.dragonimage.to_s != "" %>
         <p><%= image_tag(dragonhoard.dragonimage_url(:thumb)) %></p>
         <br>
      <% end %>
      <p><%= textFormater("Multi", dragonhoard.message, "All").html_safe %></p>
      <br>
      <% if current_user && (current_user.pouch.privilege == "Admin" || current_user.pouch.privilege == "Glitchy") %>
         <div class="container">Taxbase: <%= dragonhoard.taxbase %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase1_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease1_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Taxinc: <%= dragonhoard.taxinc %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase2_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease2_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Contest points cost: <%= dragonhoard.conversioncost %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase5_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease5_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Contest points rate: <%= dragonhoard.pointscreated %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase6_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease6_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Contest points: <%= dragonhoard.contestpoints %></div> <div class="container"><%= button_to 'Convert points', dragonhoards_convertpoints_path, method: :post, class: "button submitbutton" %></div>
         <br>
         <div class="container">Profit: <%= dragonhoard.profit %></div> <div class="container"><%= button_to 'Withdraw points', dragonhoards_withdraw_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button submitbutton" %></div>
         <p>Treasury: <%= dragonhoard.treasury %></p>
         <p>Dragon holiday: <%= dragonhoard.denholiday %></p>
         <br>
         <p>Balancing the pages</p>
         <div class="container">Colorscheme points: <%= dragonhoard.colorschemepoints %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase3_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease3_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Colorscheme cleanup: <%= dragonhoard.colorschemecleanup %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase4_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease4_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <!--Blogs here-->
         <div class="container">Blogbanner cost: <%= dragonhoard.blogadbannercost %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase7_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease7_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Bloglargeimage cost: <%= dragonhoard.bloglargeimagecost %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase8_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease8_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Blogsmallimage cost: <%= dragonhoard.blogsmallimagecost %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase9_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease9_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Blogmusic cost: <%= dragonhoard.blogmusiccost %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase10_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease10_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Blog points: <%= dragonhoard.blogpoints %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase11_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease11_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Blogmascot points: <%= dragonhoard.blogmascotpoints %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase12_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease12_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Emerald value: <%= dragonhoard.emeraldvalue %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase13_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease13_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <div class="container">Emerald rate: <%= dragonhoard.emeraldrate %></div> <div class="container"><%= button_to 'Increase', dragonhoards_increase14_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Decrease', dragonhoards_decrease14_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button destroybutton" %></div>
         <br>
         <br>
         <p>Dreyterrium</p>
         <div class="container">New Dreyterrium: <%= dragonhoard.dreyterrium_start %>/200</div> <div class="container"><%= button_to 'Add Ore', dragonhoards_addore_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button submitbutton" %></div>
         <br>
         <div class="container">New Dreyterrium minned: <%= dragonhoard.dreyterrium_extracted %>/<%= dragonhoard.dreyterriumchange %></div>
         <br>
         <div class="container">New Dreyterrium value: <%= dragonhoard.dreyterriumcurrent_value %></div>
         <p>New Dreyterrium left: <%= getDreyterriumLeft %></p>
         <% if current_user %>
            <br>
            <p><%= button_to 'Buy Emeralds for ' + getEmeraldPrice.to_s, dragonhoards_buyemeralds_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button submitbutton" %></p>
         <% end %>
      <% else %>
         <h3 id="subheader">Current Economy Prices</h3>
         <br>
         <p>Donation tax rate: <%= dragonhoard.taxbase %></p>
         <p>Colorscheme source: <%= dragonhoard.colorschemepoints %> points</p>
         <p>Blog source: <%= dragonhoard.blogpoints %> points</p>
         <p>Blogmascot source: <%= dragonhoard.blogmascotpoints %></p>
         <p>Contest source: <%= dragonhoard.contestpoints %> points</p>
         <p>Treasury: <%= dragonhoard.treasury %> points</p>
         <% if current_user %>
           <br>
           <p><%= button_to 'Buy Emeralds for ' + getEmeraldPrice.to_s, dragonhoards_buyemeralds_path(:dragonhoard_id=>dragonhoard.id), method: :post, class: "button submitbutton" %></p>
         <% end %>
      <% end %>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
